In [4]:
import uproot
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', None)

import matplotlib.pyplot as plt
import mplhep as hep
hep.style.use(hep.style.CMS)

In [5]:
with uproot.open("/data/userdata/aaarora/output/run2/bkg.root") as f:
    df1 = f.get("Events").arrays(library="pd")

df1 = df1.sort_values(["event"]).reset_index(drop=True)

In [22]:
with uproot.open("/data/userdata/aaarora/output/run2/bkg_MVA.root") as f:
    df2 = f.get("Events").arrays(library="pd")

df2 = df2.sort_values(["event"]).reset_index(drop=True)

,event,sample_type,passCut9,Hbbscore,HighestWjetScore,HbbPt,Hbbmass,MET,Mlbminloose,VBSBDTscore,...,VBSjet1eta,VBSjet1phi,VBSjet1pt,VBSjet2eta,VBSjet2phi,VBSjet2pt,WjetPt,Wjetmass,leptonpt,weight
0,8,ttx,True,0.964014,0.853933,425.75,104.8125,40.756248,54.845181,0.305056,...,-1.525391,1.804199,290.00000,0.926270,1.814453,39.71875,593.5,48.375,151.259781,0.002810
1,9,ttx,True,0.983966,0.929981,420.25,150.6250,62.210522,1000.000000,0.312104,...,0.147156,-3.050293,629.00000,-1.390869,-1.520264,139.00000,582.0,168.125,90.651535,0.004548
2,10,ttx,True,0.978984,0.814877,406.75,137.7500,122.801239,97.728012,0.319799,...,1.568359,0.406433,93.31250,0.182983,0.601929,122.62500,579.0,197.375,123.451767,0.003465
3,13,ttx,True,0.924382,0.804900,450.75,134.7500,180.687576,115.261734,0.376690,...,-2.600586,-1.859375,96.37500,0.867798,0.018143,206.50000,456.0,151.750,64.254921,0.004559
4,13,ttx,True,0.958596,0.754909,359.25,107.3125,125.135376,111.931778,0.372485,...,3.604004,0.172394,35.12500,1.387695,0.882812,155.12500,669.0,241.875,71.848106,0.002639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60625,499621748,ttbar,True,0.973484,0.849536,339.50,86.5000,94.874947,174.205322,0.354309,...,1.722656,2.774414,63.34375,1.591064,1.608154,49.81250,601.5,227.500,217.356430,0.037436
60626,499697920,ttbar,True,0.548348,0.831405,349.50,57.3750,105.582230,1000.000000,0.569554,...,-1.913818,-0.464966,167.12500,3.100098,-2.125000,35.84375,685.0,176.875,92.720146,0.044085
60627,499965447,ttbar,True,0.947781,0.868979,374.50,167.5000,207.061630,1000.000000,0.360566,...,2.206055,-2.751953,35.93750,-0.608154,0.002734,108.25000,620.0,79.125,98.255013,0.040093
60628,499984041,ttbar,True,0.968281,0.720174,281.50,105.8750,184.038437,151.634659,0.290007,...,-0.220093,-1.571777,498.75000,-1.457764,-1.261230,176.50000,478.0,80.500,86.032921,0.033934
60629,499995315,ttbar,True,0.842724,0.856248,400.00,163.5000,55.098938,95.806625,0.297449,...,0.139862,-2.815918,201.25000,0.246887,-1.470703,67.50000,683.0,169.375,77.892746,0.035911

In [21]:
df1.sample_type

0            ttx
1            ttx
2            ttx
3            ttx
4            ttx
           ...
3277177    WJets
3277178    WJets
3277179    WJets
3277180    WJets
3277181    WJets
Name: sample_type, Length: 3277182, dtype: awkward

In [20]:
df1.query("passCut9")

,event,xsec,lumi,nevents,sample_category,sample_type,sample_year,xsec_weight,isData,is2016,...,passCut2,passCut3,passCut4,passCut5,passCut6,passCut7,passCut8,passCut9,passCut8_cr,passCut9_cr
228,8,0.62,16.810,6.170698e+07,bkg,ttx,2016postVFP,0.000169,False,True,...,True,True,True,True,True,True,True,True,False,False
263,9,0.62,16.810,6.170698e+07,bkg,ttx,2016postVFP,0.000169,False,True,...,True,True,True,True,True,True,True,True,False,False
279,10,0.62,16.810,6.170698e+07,bkg,ttx,2016postVFP,0.000169,False,True,...,True,True,True,True,True,True,True,True,False,False
371,13,0.62,16.810,6.170698e+07,bkg,ttx,2016postVFP,0.000169,False,True,...,True,True,True,True,True,True,True,True,True,False
375,13,0.62,41.529,1.537978e+08,bkg,ttx,2017,0.000167,False,False,...,True,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3276832,499621748,365.34,59.700,1.406787e+11,bkg,ttbar,2018,0.000155,False,False,...,True,True,True,True,True,True,True,True,False,False
3276896,499697920,365.34,59.700,1.406787e+11,bkg,ttbar,2018,0.000155,False,False,...,True,True,True,True,True,True,True,True,True,False
3277140,499965447,365.34,59.700,1.406787e+11,bkg,ttbar,2018,0.000155,False,False,...,True,True,True,True,True,True,True,True,True,False
3277162,499984041,365.34,59.700,1.406787e+11,bkg,ttbar,2018,0.000155,False,False,...,True,True,True,True,True,True,True,True,False,False
3277174,499995315,365.34,59.700,1.406787e+11,bkg,ttbar,2018,0.000155,False,False,...,True,True,True,True,True,True,True,True,True,False

In [11]:
BDT_CUT = 0.56
DNN_CUT = 0.92

df1.query("VBSBDTscore > @BDT_CUT & abcdnet_score > @DNN_CUT").weight.sum()

1.6936867572909398

In [ ]:
BDT_CUT = 0.56
DNN_CUT = 0.92
df3 = df1[(df1.VBSBDTscore > BDT_CUT) & (df1.abcdnet_score > DNN_CUT)]
df4 = df2[(df2.VBSBDTscore > BDT_CUT) & (df2.abcdnet_score > DNN_CUT)]

In [ ]:
df3.weight.sum()

In [ ]:
df4.weight.sum()

In [ ]:
df4[~df4.event.isin(df3.event)]

In [ ]:
df3.weight.sum(), df4.weight.sum()

In [ ]:
with uproot.open("/ceph/cms/store/user/aaarora/VBS_1lep_skims/sig_1lep_4ak4_or_1ak8_2ak4_v1/RunIISummer20UL16NanoAODAPVv9/VBSWZH_MJJ-100_4f_TuneCP5_13TeV-madgraph-pythia8/NANOAODSIM/106X_mcRun2_asymptotic_preVFP_v11-v2/4000/skimmed/output_merged2.root") as f:
    df = f.get("Events").arrays(["Jet_genJetIdx"], library="pd")

In [ ]:
df